<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deploy Dashboard</title>
    <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/custom.css') }}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Helot</a>
        </div>
    </div>
</div>
<div class="container">
    <div id="alert_placeholder"></div>
    <div class="page-header">
        <div class="row" id="search">
            <div class="col-md-6">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="query" name="query" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" id="radioNode" name="searchType" value="node" checked> Node
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="radioApp" name="searchType" value="app"> App
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
            <div class="col-md-6">
                <p class="pull-right">
                    <button id="start-all" class="btn btn-primary btn-sm"><i class="fa fa-play"></i> Start All</button>
                    <button id="stop-all" class="btn btn-danger btn-sm"><i class="fa fa-power-off"></i> Stop All</button>
                    <button id="restart-all" class="btn btn-warning btn-sm"><i class="fa fa-spinner"></i> Restart All</button>
                </p>
            </div>
        </div>
    </div>
    {% for node_row in nodes %}
    <div class="row">
        {% for node_name, node in node_row %}
        <div class="col-md-4" id="{{ node.id() }}" class="node">
            {% module Template("node.html", node=node, max_versions=max_versions, node_highlight=node_highlight, app_highlight=app_highlight) %}
        </div>
        {% end %}
    </div>
    {% end %}
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted">For Internal Use Only</p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script>
    $(document).ready(function () {

        bootstrap_alert = function() {}
        bootstrap_alert.warning = function() {
            $('#alert_placeholder').html('<div id="alert_placeholder"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Heads Up!</strong> There have been updates to network members. Please reload the page.</div>')
        }

        var ws = new WebSocket("ws://localhost:9999/websocket");
        ws.onmessage = function (evt) {
            {% if True %}
                bootstrap_alert.warning();
            {% else %}
            var json = JSON.parse(evt.data);
            selector = '#' + json.id
            if ($(selector).length == 0) {
                newNode = document.createElement('div');
                newNode.id = json.id
                newNode.className = 'col-md-4 node'
                $('#nodes').append(newNode);
                reorder();
            }
            $(selector).load('http://localhost:9999/api/node?node=' + json.name, function () {
                $('#' + json.id + ' .start-button').on('click', function (event) {
                    event.preventDefault();
                    command_node('start', $(this).data('id'))
                });
                $('#' + json.id + ' .stop-button').on('click', function (event) {
                    event.preventDefault();
                    command_node('stop', $(this).data('id'))
                });
                $('#' + json.id + ' .restart-button').on('click', function (event) {
                    event.preventDefault();
                    command_node('restart', $(this).data('id'))
                });
            });
            {% end %}
        };

        $("#start-all").on('click', function (event) {
            event.preventDefault();
            command_all('start');
        });
        $("#stop-all").on('click', function (event) {
            event.preventDefault();
            command_all('stop');
        });
        $("#restart-all").on('click', function (event) {
            event.preventDefault();
            command_all('restart');
        });
        $(".start-button").on('click', function (event) {
            event.preventDefault();
            command_node('start', $(this).data('id'))
        });
        $(".stop-button").on('click', function (event) {
            event.preventDefault();
            command_node('stop', $(this).data('id'))
        });
        $(".restart-button").on('click', function (event) {
            event.preventDefault();
            command_node('restart', $(this).data('id'))
        });

        reorder();
    })

    function command_all(command) {
        $('.node-info').each(function () {
            command_node(command, $(this).data('id'));
        });
    }

    function command_node(command, node) {
        var apps = $('#' + node + ' h3.node-info').data('apps');
        $.each(apps.split(","), function (index, value) {
            $.post('/api/' + command, {'node': node, 'app': value}).done(function (data) {
                console.log(data);
            });
        });
    }

    function reorder() {
        /* $('#nodes .node').sort(function(a,b) {
            return $(a).id > $(b).id;
        }).appendTo('#nodes'); */
    }

</script>
</body>
</html>
