<div class="panel {{ node_highlight(node) }}">
    <div class="panel-heading">
        <h3 class="panel-title node-info" data-id="{{ node.id() }}" data-name="{{ node.name }}" data-apps="{% for i, (app_name, app) in enumerate(node.apps.items()) %}{% if i %}, {% end %}{{ app.name }}{% end %}">{{ node.name }}</h3>
    </div>
    <div class="panel-body">
        <p>
            <button class="btn btn-primary btn-xs start-button" data-id="{{ node.id() }}"><i class="fa fa-play"></i> Start All</button>
            <button class="btn btn-danger btn-xs stop-button" data-id="{{ node.id() }}"><i class="fa fa-power-off"></i> Stop All</button>
            <button class="btn btn-warning btn-xs restart-button" data-id="{{ node.id() }}"><i class="fa fa-spinner"></i> Restart All</button>
        </p>
    </div>
    <table class="table">
        {% for app_name, app in node.apps.items() %}
        <tr class=" {{ app_highlight(app, node) }}">
            <td>{{ app.name }}</td>
            {% if app.name in node.transitions %}
            <td>{{ app.version }} ~ {{ node.transitions[app.name] }}</td>
            <td colspan="2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                     style="width: 50%;">
                    <span class="sr-only">In Progress</span>
                </div>
            </div>
        </td>
            {% else %}
            <td>{{ app.version }}</td>
            <td>{{ app.status }}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                    <ul class="dropdown-menu">
                        <li{% if app.status == 'running' %} class="disabled"{% end %}><a href="/api/start?node={{ node.name }}&app={{ app.name }}"><i class="fa fa-play fa-fw"></i> Start</a></li>
                        <li{% if app.status == 'stopped' %} class="disabled"{% end %}><a href="/api/stop?node={{ node.name }}&app={{ app.name }}"><i class="fa fa-power-off fa-fw"></i>Stop</a></li>
                        <li{% if app.status == 'stopped' %} class="disabled"{% end %}><a href="/api/restart?node={{ node.name }}&app={{ app.name }}"><i class="fa fa-spinner fa-fw"></i>Restart</a></li>
                    </ul>
                </div>
                {% if len(app.upgrades) %}
                <div class="btn-group">
                    <button class="btn btn-success btn-xs dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cloud-upload"></i></button>
                    <ul class="dropdown-menu">
                        {% for version in app.upgrades %}
                        <li>
                            <a href="/api/deploy?node={{ node.name }}&app={{ app.name }}&version={{ version }}">{{ version }}</a>
                        </li>
                        {% end %}
                    </ul>
                </div>
                {% end %}
                {% if len(app.downgrades) %}
                <div class="btn-group">
                    <button class="btn btn-warning btn-xs dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-cloud-download"></i></button>
                    <ul class="dropdown-menu">
                        {% for version in app.downgrades %}
                        <li>
                            <a href="/api/deploy?node={{ node.name }}&app={{ app.name }}&version={{ version }}">{{ version }}</a>
                        </li>
                        {% end %}
                    </ul>
                </div>
                {% end %}
            </td>
            {% end %}
        </tr>
        {% end %}
    </table>
</div>